[2015-06-22 13:06] paoloantinori opened #1 "libvirt error while following Readme.md"
@jimmidyson not sure if it was my box specifically or it's a default on Fedora22 but to have the readme running I had to specify virtual box as  provider otherwise I was getting this error:

[code]

Working with `virtualbox`:

[code]

[2015-06-22 13:10] jimmidyson commented on #1
Hey @paoloantinori! Yeah I've had trouble creating a libvirt vagrant base box for centos7. Very annoying. Do you have a working base CentOS 7 box I could use? I can't seem to build a working one :(

[2015-06-26 10:35] 0loky0 opened #8 "service not accessible after restart"
Hi !

Thanks for the excellent job done with fabric8 which is by the way awesome :)
I have followed the tutorial to test in vagrant but with a local network perspective.
I have replace all "172.28.128.4" to a valid ip local adress in vagrant and putted it to public :

  config.vm.network "private_network", ip: "172.28.128.4"
  config.vm.network "public_network", ip: "192.168.0.240"

My VM is now i

[2015-06-26 11:13] jimmidyson commented on #8
Can you check your hosts file & make sure fabric8.vagrant.f8 is set to 192.168.0.240? Might just be some old values in there hopefully. I don't think anyone's tried the Vagrant box with a public IP like this but would be good to get this working.

[2015-06-26 11:23] 0loky0 commented on #8
Thanks @jimmidyson !

In fact port redirection are required in the card1 in the network settings of the VM. (the NAT)

I added :
HOST        PORT     GUEST PORT
127.0.0.1  80                        80
127.0.0.1  8080                    8080
127.0.0.1  8443                    8443
...

Strange things is that I was able to connect during the first execution consecutive of the generation !

By the wa

[2015-06-26 11:23] #8 closed, assigned to nobody

[2015-06-26 11:24] jimmidyson commented on #8
Glad it's working!

And thanks for the great feedback!

[2015-07-01 17:15] paoloantinori commented on #1
Some progress here, despite I haven't actually done anything other than requesting `v1.1.2` of  `jimmydyson/centos-7.1` base box.

Now it fails while mounting NFS shared folders, I have to debug why

[code]

[2015-07-01 17:30] jimmidyson commented on #1
Looks like a problem using NFS on your host - possible firewall blocking it?

On 18:16, Wed, 1 Jul 2015 Paolo Antinori notifications@github.com wrote:

[2015-07-01 20:24] paoloantinori commented on #1
:green_heart:

Wiith very permissive rules for `INPUT` and `FORWARD` and adding retry flags to `curl` I manage to create the vm correctly with `libvirt` on `f22`:

[code]

Tomorrow I will check more restricted `iptables` rules to allow `mount` to succeed.

[2015-07-02 19:31] garethjevans opened #11 "Unable to get gerrit to start up with cdelivery-core"
Hi,

I'm using the vagrant installer, openshift-latest profile, and i've installed the "cdelivery-core" toolset. But I'm unable to get the gerrit image to start.  It appears to be constantly restarting.

From the logs

[code]

[2015-07-02 19:37] christian-posta commented on #11
yah by default, we use some ssh keys to automatically create the gerrit Admin user.
It's on my todo list (or @cmoulliard ?) to get rid of the manual steps you need to talk to prep the host with the ssh keys and just use kube secrets.

to manually prep the host (vagrant image) use this script locally:

https://github.com/fabric8io/docker-gerrit/blob/master/scripts/copy-keys-vagrant.sh

and the keys

[2015-07-02 19:42] garethjevans commented on #11
Thanks, will give that a go now

[2015-07-02 20:04] garethjevans commented on #11
Perfect - that seems to be starting now - looks like you need to copy the keys before you try and start the image, otherwise it creates directories called id_rsa.pub and the copy fails.

Thanks for your help.

Gareth

[2015-07-02 21:43] garethjevans commented on #11
This gets a lot further, but fails with an SQL error.  Could I now have too many keys?

[code]
[code]

[2015-07-03 10:37] davsclaus opened #12 "Vagrant file for quickstarts has changed slightly"
Until we come up with a nice way of have composite app group, then we may need to have a group per different quickstart or someting.

This should be changed to `quickstarts-rest quickstarts-http` instead of `quickstarts`
https://github.com/fabric8io/fabric8-installer/blob/master/vagrant/openshift-latest/Vagrantfile#L154

Before we do a new release next time.

[2015-07-03 10:38] davsclaus commented on #12
See the groups here
https://github.com/fabric8io/quickstarts/tree/master/app-groups

[2015-07-14 09:24] itsjimbo opened #14 "Latest vagrantfile on osx - ssh command fails"
I am running OSX 10.10.3 and had this working in the previous version, just trying to find out why ssh is failing after following the instructions..

`
which nmcli >/dev/null 2>&1 && nmcli c reload enp0s8
`
Following the instructions I did the following (install landrush plugin)

[code]

Now start up

[code]

[code]

As you can see some error ocurrs, which happened after I pulled the latest Vagran

[2015-07-14 10:15] rhuss commented on #14
Did  you patch Vagrant ? I ask because AFAIK Vagrant still doesn't support VirtualBox 5.0 out of the Box ?

[2015-07-14 10:22] jimmidyson commented on #14
@rhuss 1.7.3 does. Might have to tweak the base box to work around the fact that vagrant has now fixed a bug networking too :(

[2015-07-14 18:22] pulse00 commented on #14
Same here. Vagrant 1.7.3 and Virtualbox 5.0. Other boxes we use internally work fine.

[2015-07-14 20:03] itsjimbo commented on #14
I was also using vagrant 1.7.3

[code]

[2015-07-14 20:29] itsjimbo commented on #14
Just a quick followup ..
I managed to get it working, seems that what the problem it was having is that it could not find nmcli, which i guess is the redhat network manager package, very strange (I am a noob to fabric8 and this vagrant setup, so pardon me)...

In order to fix this i just did a

[code]

Then install the nmcli package..

[code]

Back in OSX, kill the process, because it did not shut

[2015-07-14 20:48] jimmidyson commented on #14
Awesome! Let me update the base image to fix this. Thanks for working through the problems.

[2015-07-14 20:53] itsjimbo commented on #14
Also can you update the image for docker version 1.7?
The rationale is that it is the later version, but I am not sure if it will break anything else, I know the client api (when I do a mvn fabric8:apply) throws an exception if the server/client versions don't match...
Thanks!

https://docs.docker.com/installation/centos/

[2015-07-14 21:05] jimmidyson commented on #14
The problem is centos rpms from official centos yum repos carry some patches especially around security & selinux - I've seen conflicts with the official docker rpms before & so am a little bit wary of using them instead of the centos provided ones.

[2015-07-14 21:10] itsjimbo commented on #14
Ok thanks for the info, did not know..
I appreciate all that you guys are doing on this project! Thanks!

[2015-07-15 16:02] rhuss commented on #14
Seems to be a known Vagrant issue --> https://github.com/mitchellh/vagrant/issues/5953 which should be fixed in 1.7.4

I don't know whether we should upgrade to NetworkManager only because of this bug.

[2015-07-15 16:07] rhuss commented on #14
In the meantime you can apply this [patch](https://github.com/kaorimatz/vagrant/commit/73d5718da3efc3f1f6e34756916234b773c36385) to `/opt/vagrant/embedded/gems/gems/vagrant-1.7.3/plugins/guests/fedora/cap/configure_networks.rb` which fill fix this, too.

[2015-07-15 16:19] jimmidyson commented on #14
I'd rather not enable NetworkManager - it is quote often a PITA... good old plain network files for me ;)

[2015-07-21 13:12] spiner2000 opened #15 "Kibana Liveness probe failed: dial tcp *.*.*.*:5601: connection refused"
Hello,
I have trouble with kibana pod, it's not working by defalut.  (vagrant/openshift/latest)
I see "kibana-tr1yt     Pod     unhealthy   Liveness probe failed: dial tcp 172.17.0.3:5601: connection refused (52 times in the last 24 minutes, 6 seconds) " in event log and restarts of kibana containers/
No configuration have made, just "vagrant up".

[2015-07-21 13:16] jimmidyson commented on #15
Hi @spiner2000. Is the Elasticsearch service created & Elasticsearch pod(s) running properly?

[2015-07-21 13:39] spiner2000 commented on #15
Hi @jimmidyson elsticsearch looks fine.

[2015-07-21 13:40] jimmidyson commented on #15
Could you try to get the logs of the kibana pod with oc logs?

[2015-07-21 13:46] spiner2000 commented on #15
++ curl -s -f -o /dev/null --connect-timeout 1 -m 1 --head http://172.30.142.85:9200
- sleep 0.1
  ++ curl -s -f -o /dev/null --connect-timeout 1 -m 1 --head http://172.30.142.85:9200
- sleep 0.1
  ++ curl -s -f -o /dev/null --connect-timeout 1 -m 1 --head http://172.30.142.85:9200
- sleep 0.1
  ++ curl -s -f -o /dev/null --connect-timeout 1 -m 1 --head http://172.30.142.85:9200
  ++ curl -s -f -o

[2015-07-21 13:48] jimmidyson commented on #15
There are 2 containers in the kibana pod, those are the logs for the configuration container where we initialise some simple log dashboards.

Could you try to grab the other container logs with "oc logs <POD_ID> kibana" (I think it's that anyway!).

[2015-07-21 13:50] spiner2000 commented on #15
@jimmidyson updated previous comment "log of kibana container is empty" :)

[2015-07-21 13:52] spiner2000 commented on #15
@jimmidyson  But i see this in elsticsearch container.
[DEBUG][action.search.type       ] [Brainchild] [.kibana][0], node[RwDB46q9QoKhk7X9IzFYSQ], [P], s[STARTED]: Failed to execute [org.elasticsearch.action.search.SearchRequest@42b9e0ef] lastShard [true]
org.elasticsearch.search.SearchParseException: [.kibana][0]: from[-1],size[1000]: Parse Failure [Failed to parse source [{"size":1000,"sort":[{"

[2015-07-21 13:53] jimmidyson commented on #15
OK thanks - I'll take a look.

[2015-07-21 14:05] spiner2000 commented on #15
By the way, i have the same issue with native openshift origin installation and "logging" template.

[2015-07-21 14:08] jimmidyson commented on #15
Do you mean the one from the OpenShift docs or from fabric8? They're pretty much the same IIRC so likely to have same (bad) behaviour.

[2015-07-21 14:24] spiner2000 commented on #15
Yes it's based on fabric8 guide.

[2015-08-05 05:49] cmoulliard opened #18 "Add more info about plugins required : landrush, hostmanager"
Include within Readme.md file more info about vagrant plugins required for Linux, MacOSX or Windows

[code]

[2015-08-28 11:03] jdcockrill opened #20 "Cannot see details of a running Camel pod from Vagrant"
I installed fabric8 using the instructions here: http://fabric8.io/guide/getStarted/vagrant.html. The only issue I had was that the dnsmasq configuration doesn't work. I am running Linux Mint 17.2 (Ubuntu-derivative) and it looks like there are some conflicts between dnsmasq and Network Manager. I got it working in the end by adding all the hostnames to my /etc/hosts file. I've also had to dial-ba

[2015-08-28 11:04] jdcockrill commented on #20
I discussed the issue with @jimmidyson on IRC and he asked me to raise the issue on github.

[2015-09-23 18:24] alberttwong opened #23 "On page http://fabric8.io/guide/getStarted/vagrant.html, link to download fabric8 templates 2.2.33 distribution doesn't work"
On page http://fabric8.io/guide/getStarted/vagrant.html, link to download fabric8 templates 2.2.33 distribution doesn't work.  File not found.

[2015-09-23 18:39] alberttwong commented on #23
Not sure if it's related but the icons from fabric8 templates (used template 2.2.23.1 instead) are also broken in the web UI.

[2015-09-23 18:43] rawlingsj commented on #23
Ah we've broken down a few of the repositories recently and the versions between fabric8, ipaas-quickstarts, fabric-devops and fabric8-ipaas have become misaligned in the last one or two releases. Let me take a look.

[2015-09-23 21:09] rawlingsj commented on #23
@alberttwong thanks for pointing this out.  2.2.34 has just been released, docs updated and that link now works http://fabric8.io/guide/getStarted/vagrant.html

[2015-09-23 21:09] #23 closed, assigned to nobody

[2015-09-23 22:05] alberttwong commented on #23
Is there an easy way to find how which are the old templates and delete them and/or how to reset the image back to base and then re-add the 2.2.34 temples?

[2015-09-24 10:39] christian-posta commented on #23
on vagrant you can just destroy it with `vagrant destroy` and then bring it
back up with `vagrant up`
on an installation of kube/openshift not on vagrant, it'd be nice to be
able to uninstall or nicely upgrade templates.
wonder if gofabric8 client can do that?
otherwise, if you do oc delete all -l 'component=fabric8' it deletes
everything and then you can add back the console, etc/

On Wed, Sep 23

[2015-09-24 10:44] rawlingsj commented on #23
yeah there's an open issue to add this into the gofabric8 installer, until then if you have the cd-pipeline template running then I've been using the little script thats also on the issue..
https://github.com/fabric8io/fabric8/issues/4654

[2015-09-24 10:53] jstrachan commented on #23
one option is to create everything in a namespace; then trash the whole namespace.

[code]

[2015-09-24 10:59] rawlingsj commented on #23
yeah that's nice!

[2015-09-24 19:26] alberttwong commented on #23
So what I did was use "vagrant destory -f".  It seems to redownload the images again which kinda sucks when you need to reset the demo but I know of no other way.  Asking http://serverfault.com/questions/724638/how-do-you-reset-vagrant-back-to-its-original-state to see if there are better answers.

Is there a way to show the version of the kub templates?  After download the new vangrat git, I real

[2015-09-25 16:39] alberttwong opened #24 ""Vagrant halt" last night and "vagrant up" today and it doesn't work"
So last night I shutdown my image "vagrant halt" and started work again today "vagrant up".   The system won't come up and I don't quite understand why.

[code]

Chrome shows

[code]

What DNS says in OSX

[code]

[2015-09-25 16:45] jstrachan commented on #24
does  a 'vagrant reload' help? I've found that sometimes helps when things go wrong with DNS

[2015-09-25 16:50] alberttwong commented on #24
It did not help.  What has helped so far is manually adding fabric8.vagrant.f8 into /etc/hosts.  I am now able to pull up the web console.

[code]

[2015-09-25 17:18] alberttwong commented on #24
I rebooted my laptop since I only put it to sleep yesterday.   After the reboot, "vagrant up" and letting the laptop get back to a normal cpu utilization, It seems to work normal again.

[2015-09-25 17:18] #24 closed, assigned to nobody

[2015-09-28 11:34] cmoulliard opened #25 "doc still refers to cdelivery"
This line of the console output (= vagrant up")  should be changed
 from `gofabric8 pull cdelivery` to `gofabric8 pull cd-pipeline`

[2015-09-28 11:36] #25 closed, assigned to nobody

[2015-09-28 12:07] davsclaus opened #26 "Maybe write how the end user can get the list of templates to pre download with gofabric"
Love the gofabric installer

It outputs at the end of starting vagrant

[code]

It would be nice if we also tell the user which templates there are to choose among.

You can get the templates from `oc` command

[code]

[2015-09-29 05:24] jstrachan commented on #24
@albertwong thanks for the heads up! I've found whenever I switch wifi networks, vagrant struggles with DNS (e.g. to find docker.io when downloading images) so whenever I switch networks I just run this command:

[code]

and in a minute or so things are all back and working

[2015-09-29 05:27] jstrachan commented on #24
BTW I added a little section on this to the docs: http://fabric8.io/guide/getStarted/vagrant.html#errors-like-tcp-lookup-index-docker-io-no-such-host

[2015-09-29 08:00] myfear opened #27 "IllegalArgumentException No secret named: openshift-cert-secret"
The fabric8-installer/cdelivery does not work.
Maven install fails with the following exception.

Failed to create replicationController from kubernetes.json. java.lang.IllegalArgumentException: No secret named: openshift-cert-secrets for namespace default is available on Kubernetes at address https://172.28.128.4:8443.

Any help appreciated.

[2015-09-29 09:02] rawlingsj commented on #27
using the gofabric8 installer you can generate the secrets using...

`gofabric8 secrets`

[2015-09-29 09:03] jimmidyson commented on #27
`openshift-cert-secrets` shouldn't be required any more should it?

[2015-09-30 06:57] myfear commented on #27
@rawlingsj I'm actually running the vagrant box on windows. Do you have a tiny pointer for me, where to look at?

[2015-09-30 07:40] jstrachan commented on #27
Ah - I wonder if we should sandbox lots of the fabric8-installer stuff; as the gofabric8 installer is working much better for us and is setting up the secrets etc.

e.g. if you start vagrant via this:
http://fabric8.io/guide/getStarted/vagrant.html

then the gofabric8 installer is used under the covers to install all the templates & setup all the secrets; then you can just run stuff via the Run...

[2015-09-30 07:43] myfear commented on #27
@jstrachan Thank you. But this basically means, that I have no chance to run the cdelivery demo right now? Is there a way to manually execute the gofabric8 installer to generate the needed certificates in the vagrant box?

[2015-09-30 07:46] jstrachan commented on #27
I've updated the fabric8-installer to move those old mvn based installers into the sandbox and to make the ReadMe point at the vagrant image & gofabric8 installer:
https://github.com/fabric8io/fabric8-installer

[2015-09-30 07:48] jstrachan commented on #27
To run the cd pipeline demo:
- vagrant up via [these instructions and/or video](http://fabric8.io/guide/getStarted/vagrant.html)
- in the console click on the default workspace -> Runtime -> Run...
- select the `cd-pipeline` template and run it

If you want to you can re-download all the docker images for the template first; so as soon as vagrant up finishes type

[code]

[2015-09-30 07:48] jstrachan commented on #27
gonna close this one for now; we can reopen if you still have issues

[2015-09-30 07:48] #27 closed, assigned to nobody

[2015-10-05 13:09] davsclaus commented on #20
Have you tried with latest release. We have since upgraded to kubernetes v1 and things works better.

[2015-10-05 13:10] davsclaus commented on #18
readme updated

[2015-10-05 13:10] #18 closed, assigned to cmoulliard

[2015-10-05 13:10] davsclaus commented on #14
Have you tried with latest release, a lot has changed since.

[2015-10-05 13:12] davsclaus commented on #12
packaging of apps changed

[2015-10-05 13:12] #12 closed, assigned to nobody

[2015-10-05 13:13] davsclaus commented on #11
Have you got this to work?

There has been a lot of changes and others like @jstrachan and @rawlingsj and @cmoulliard are working on the CI/CD stuff.

[2015-10-05 13:22] cmoulliard commented on #11
This error should not be there anymore.

[2015-10-05 13:30] #11 closed, assigned to nobody

[2015-10-07 04:57] davsclaus opened #28 "Upgrade to OS3 1.0.6"
I have tested with 1.0.6 and it works for me with the camel quickstarts and so on. Would be good for James to give the CI/CD a test spin before upgrading.

[2015-10-07 07:16] #28 closed, assigned to rawlingsj

[2015-10-12 18:41] rafabene opened #29 "letschat loosing user login information in vagrant"
If I run `vagrant reload`, I can't login with the user that I've previously registered. So I have to create the user again every time that I restart the vagrant installation.

[2015-10-12 19:27] rawlingsj commented on #29
We've not configured persistent storage on the vagrant image yet unfortunately.  What this means is when a pod is restarted the data is lost. It's the same for gerrit, gogs jenkins etc.  It's on the list to do but up until the recent openshift versions we were restricted.

FWIW the Lets Chat data is stored in an instance of mongodb so once we figure out a decent way to handle storage in the vagran

[2015-10-14 17:50] davsclaus commented on #20
We need a new release of openshift to allow secured jolokia access. So when OS3 1.0.7 is out this is intended to work again.

[2015-10-22 15:06] petenorth opened #30 "dnsmasq configuration"
Hi,

I noticed that the vagrant openshift readme.md (as well as others) have

Add a line `server=/vagrant.dev/127.0.0.1#10053` to the `dnsmasq` configuration.

When I was running through the installs today I have a feeling that this line was being created dynamically? If not then the configuration that I have  that worked was

server=/vagrant.f8/127.0.0.1#10053

i.e. vagrant.f8 rather than vagrant

[2015-10-22 15:15] cmoulliard opened #31 "Externalize the memory and cpu to be used"
Add ENV var to specify the cpu, memory to be used

[code]

[2015-10-22 15:19] rhuss commented on #30
Thanks.

The readme is wrong indeed, must be `vagrant.f8`

[2015-10-22 15:24] rhuss commented on #30
Sorry, can not find that reference anymore (it was fixed some time ago). Could you please point me to where you have seen this reference ? In this [readme](http://fabric8.io/guide/getStarted/vagrant.html) everything has been updated.

[2015-10-22 15:28] petenorth commented on #30
https://github.com/fabric8io/fabric8-installer/tree/master/vagrant/openshift/ReadMe.md

https://github.com/fabric8io/fabric8-installer/blob/master/vagrant/kubernetes/ReadMe.md

[2015-10-22 15:34] petenorth opened #32 "openshift vagrant image on RHEL 7.1"
Hi,

I have had a bit of a battle today trying to get the openshift vagrant image working on a RHEL 7.1 box.

The extra steps that I needed to do were:

edit the /etc/dnsmasq.conf file with the following (all were commented out before):

interface=lo
no-dhcp-interface=lo
bind-interfaces

I then had to make sure that in my /etc/resolv.conf (which will be wiped out on network join/machine reboot unf

[2015-10-22 15:44] rhuss commented on #30
sorry, I looked into the wrong project ;-).

[2015-10-22 15:54] #30 closed, assigned to rhuss

[2015-11-19 09:42] davsclaus opened #34 "move openshift-original to sandbox"
[10:26:26]  <ro14nd>    davsclaus: it was pre-gofabric8 setup. can be savely deleted imo.
[10:27:03]  <ro14nd>    davsclaus: it was still quite useful as reference because of all the explicite 'oadm' and 'oc' commands used in the Vagrantfile.
[10:27:23]  <ro14nd>    some people liked that as a reference for tuning their own setup.
[10:27:24]  <+jstrachan>    yeah - maybe we move it to a sandbox fo

[2015-11-19 10:05] #34 closed, assigned to nobody

[2015-11-19 10:06] davsclaus commented on #20
The connect should work again with all latest releases - though the spring-boot quickstarts currently do not - its a known issue due the docker base image. @rhuss will fix this later as we are busy with a RH release.

[2015-11-19 10:06] #20 closed, assigned to nobody

[2015-11-19 10:07] davsclaus commented on #14
Reopen if still a problem but the vagrant image has improved a lot, and its just to do a vagrant up and you should be running

[2015-11-19 10:07] #14 closed, assigned to nobody

[2015-11-19 10:10] jimmidyson commented on #34
Just delete it - IIRC it was kept when someone made the swap over to `gofabric8` & is no longer needed now `gofabric8` works so well.

[2015-11-21 21:21] jimmidyson commented on #15
This seems to be working now. Please reopen if there are any issues still.

[2015-11-21 21:21] #15 closed, assigned to nobody

[2015-11-21 21:21] jimmidyson commented on #1
This is working for me.

[2015-11-21 21:21] #1 closed, assigned to nobody

[2015-11-30 12:22] bkabrda opened #39 "Can't get fabric8 Vagrant box to work on Fedora 23"
Hi,
I'm trying to setup fabric8 Vagrant box on Fedora 23 using approach from [1].
- I installed VirtualBox from upstream (VirtualBox-5.0-5.0.10_104061_fedora22-1.x86_64) and Vagrant from official Fedora repos (vagrant-1.7.4-2.fc23.noarch).
- I installed the landrush plugin (0.18.0).
- I wanted to set up the dnsmasq rules, but dnsmasq conflicts with NetworkManager, so I skipped this step; I'm assum

[2015-11-30 15:55] jstrachan commented on #39
Note that there's typically nothing on http://172.28.128.4 or https://172.28.128.4 to see.

The fabric8 console is here by default: http://fabric8.vagrant.f8/ does that work?

of you type:

[code]

you should see all the externally available services you can try from your web browser / curl. I wonder what that shows?

[2015-12-01 10:47] bkabrda commented on #39
Ok, so here's my progress: I managed to find out that it's possible to use dnsmasq with NetworkManager by adding `dns=dnsmasq` to `/etc/NetworkManager/NetworkManager.conf` `main` section, then I created `/etc/NetworkManager/dnsmasq.d/vagrant-landrush.conf` containing `server=/vagrant.f8/127.0.0.1#10053` (as instructed at [1]).
When I restart NetworkManager, dnsmasq is started and I see this in my

[2015-12-02 13:43] rhuss opened #40 "Errors and warning when creating secrets"
With an 'vagrant up' in the installer image the following warnings appear:

[code]

[2015-12-02 13:49] rhuss commented on #40
If these are not errors, at least the messages are quite confusing as well as the repeated import blocks of the same keys.

[2015-12-05 07:08] davsclaus opened #44 "Upgrade to OS 1.1.0.1"
https://github.com/openshift/origin/releases/tag/v1.1.0.1

[2015-12-05 07:08] davsclaus commented on #26
I guess maybe helm becomes a better alternative?

[2015-12-05 07:29] davsclaus opened #45 "Upgrade helm"
==> default: A new version of Helm is available. You have v0.1.0+825f5ef. The latest is 0.2.0
==> default: [WARN]
==> default: ---> Download version 0.2.0 here: https://github.com/helm/helm/releases/tag/0.2.0

I wonder if we can upgrade @jstrachan  ?

[2015-12-05 07:29] davsclaus commented on #45
Ah maybe not
https://github.com/fabric8io/fabric8-installer/commit/b78b9b21638eacb5104015ac0829e8fa92c36648#diff-28a9f45c5cbaaec862574837fa53f322R21

[2015-12-05 07:30] davsclaus commented on #31
This has been done, you can now specify the memory with an ENV var and its logged on the console about that

[2015-12-05 07:30] #31 closed, assigned to cmoulliard

[2015-12-05 07:38] #44 closed, assigned to nobody

[2015-12-13 21:46] KurtStam opened #47 "The top level domain for vagrant should be vagrant.f8"
and not f8. If it is set to f8 then DNS for fabric8 installs on other machines running on a different f8 domain will not work. For example stam.f8 running on a different IP will be resolved to the vagrant.f8 domain's IP.

[2015-12-16 08:42] myfear opened #50 "Vagrantbox failed to start with Win 10 and VirtualBox 5.0.10r104061"
Any ideas appreciated. The OpenShift All-In-One-VM works without issues.

Log from VirtualBox:

00:00:01.460103 NAT: Host Resolver conflicts with DNS proxy, the last one was forcely ignored
00:00:01.460685 IntNet#0: szNetwork={HostInterfaceNetworking-VirtualBox Host-Only Ethernet Adapter #6} enmTrunkType=3 szTrunk={\DEVICE{BB539791-CB93-4AF7-8095-7ACAD5D2F141}} fFlags=0x8000 cbRecv=325632 cbSend=1

[2016-01-07 10:41] cmoulliard opened #55 "Add the name of the VirualBox Machine created"
Add within the config.vm.provider the name of theVM machine to be created

[code]

[2016-01-07 10:42] #55 closed, assigned to nobody

[2016-02-29 08:20] rparree opened #59 "Unstable image"
Recently i went to a recent version of the installer. I was using an old version which worked quite well (using virtualbox).

I am using the latest version with provider libvirt, (am having problems getting virtualbox running, errors with the vboxfs in the vagrant image)

This is the behaviour i observe:
- very often the elasticsearch takes ages to com up
- Often all pods go suddenly into Pending

[2016-02-29 08:27] rparree commented on #59
I should add that with the above state, the fabric8 console was unavailable. I just restarted the docker service inside the vagrant box and that seems to have worked:

[code]

[2016-03-06 19:25] sebastienblanc commented on #39
@bkabrda Hi ! I was wondering if you solved your issue since I'm facing the same (on F23) ?

[2016-03-07 08:24] bkabrda commented on #39
I didn't, but would still be curious what the solution is.

[2016-03-07 08:36] cmoulliard commented on #39
The workaround is to add manually the addresses within /etc/hosts file.

[2016-03-07 08:38] sebastienblanc commented on #39
@cmoulliard yes that is what I did, in fact I think I have another issue because now I have a "connection refused"

[2016-03-20 08:41] davsclaus commented on #47
@KurtStam has all of this been fixed? If so then this can be closed.

[2016-03-20 08:42] #26 closed, assigned to nobody

[2016-03-21 17:47] cmoulliard opened #71 "Add an env variable to define the VM Name"
Add an env variable to define the VM Name -->

[code]

[2016-03-21 17:50] #71 closed, assigned to cmoulliard

[2016-03-22 14:18] cmoulliard opened #72 "Kubernetes can't be installed as the curl link is broken"
This link is broken (= error 404)

[code]

We should update the Vagrantfile to use this one

[code]

http://kubernetes.io/docs/getting-started-guides/binary_release/

[2016-03-22 14:19] jimmidyson commented on #72
As I said on IRC this is not maintained but we would be very happy to receive a PR to fix it & preferably some agreement to continue maintaining going forward.

[2016-04-01 22:49] #47 closed, assigned to nobody

[2016-04-13 00:14] starksm64 opened #78 "Fedora23 running under vmware fails due to kvm requirement"
I'm trying to get fabric8 running on a fedora23 image running under vmware fusion on a mac. I can't use vagrant directly on the mac because virtualbox is panicing the system everytime it tries to start a vm. I'm to the point of doing vagrant up, which fails with the following:

[starksm@localhost openshift]$ vagrant up
Bringing machine 'default' up with 'libvirt' provider...
==> default: Creating

[2016-04-16 09:55] paoloantinori opened #80 "[ENH] Enable caching"
I'm looking into adding caching capabilities to save from the need to hit the internet each time you have to re-download docker images.

I have done this for plain docker in past with a Squid based solution, I want to check if it can be turned into a generic solution.

[2016-04-18 07:44] paoloantinori commented on #80
This is trickier than I was expecting:

Obviously I have to configure SQUID to cache HTTPS traffic, and with some mangling + importing a self signed certificate and restarting docker daemon it did work.

But accordingly to SQUID logs some of the traffic was HIT while some other was still a MISS:

`TCP_MEM_HIT/200 1719 GET https://auth.docker.io/token? - HIER_NONE/- application/json`

vs.

`TCP_MIS

[2016-04-19 19:13] paoloantinori commented on #80
Update for those that are interested:

I have made some progress but hitting other issues. Docker uses Amazon Cloudfront as a CDN, and it does adding special query params with a signature and a time to live, that changes with every request and breaks Squid caching logic

I have tried to manipulate those params at squid level with an external filter, but that turned the urls into invalid for Cloudf

[2016-04-21 07:06] paoloantinori commented on #80
I have had a success using a local instance of a docker registry to proxy the calls to docker hub. I just need to decide with the team how to handle the life cycle of this. Ideally it has to stay decouple from the `vagrant up/down` main script

[2016-04-21 07:47] rawlingsj commented on #80
Awesome @paoloantinori !  I'm happy if you want to test it out on me?

[2016-04-22 13:10] paoloantinori commented on #80
Sure, I'm almost ready to publish this. But there is a limit atm:

https://github.com/docker/distribution/issues/868#issuecomment-130850532

Google docker repo supports only v1 protocol that doesn't play well with mirrors, so I cannot cache `gcr.io/google_containers/hyperkube`, so atm the only things that I'm caching are:

`{"repositories":["fabric8/fabric8-console","fabric8/jenkinshift"]}`

But I

[2016-04-24 11:36] paoloantinori commented on #80
Done. I might need to look for some betatesters, @rawlingsj and @jstrachan
Also because I have tested this on a Linux box with a mechanical hdd. There could be some hidden race- condition in the activation of some services. I fixed the ones I have spotted, but others could hide...

**TL;DR**

---

[code]

**Description:**

---

I have enhanced the script to add 2 + 1 layers of caching:
1. Manual l

[2016-05-17 21:25] rafaeltuelho opened #86 "wrong sed expression in provision shell script used by Vagrantfile"
I've noticed a wrong `sed` expression used at [Vagrantfile line 69](https://github.com/fabric8io/fabric8-installer/blob/master/vagrant/openshift/Vagrantfile#L69)

This `sed` produces the following line after executed:

[code]

It should produce

[code]

You are escaping the newline char (`\\n`). This produce a malformed `YAML` config file for the node. This malformed YAML crashes the provision exe

[2016-05-17 21:46] jimmidyson commented on #86
This hasn't changed in nearly a year & has been widely used. Are you trying to use this outside of the Vagrantfile? I can't quite remember but the double escaping might be due to the fact that it's inside a ruby string (Vagrantfile is just a ruby source file really) so if you're trying to reuse the sed elsewhere then you will need to remove the double escaping.

[2016-05-17 22:33] rafaeltuelho commented on #86
Hum!

You are right! I had to execute the script outside the Vagrantfile. I am running it in my box (a RHEL 7 with KVM/libvirt). For some reason (in my box) the provision step does note executes during `vagrant up` :-\

After a while I discovered that I need to issue a `vagrant provision` after the `vagrant up` .

Now it seems to be working on a `RHEL7` box with `KVM/libvirt`.

BTW, It appears the

[2016-05-17 22:35] jimmidyson commented on #86
Yeah majority are using OSX but I'm most definitely not, Fedora with KVM/libvirt all the way :) They're the ones missing out,,,

[2016-05-17 22:35] #86 closed, assigned to nobody

[2016-05-25 13:03] nicolaferraro opened #88 "Cannot access internet from fabric8 containers"
Hi, I'm trying to setup the environment to be able to contribute actively to fabric8 but I've some issues with the internet connection: containers are not able to connect to the internet.

I setup the environment using the latest installer (actually I also tried old versions of the installer, with the same result).
Environment:
- Fedora 23
- Vagrant on Virtualbox
- Vagrantfile in path /vagrant/ope

[2016-05-25 13:31] rawlingsj commented on #88
What version of fabric8-forge do you have?  There should be a version `label` if you look at the replication controller..

[code]

I had a feeling that forge was switched to use Nexus recently rather than going to maven central, that wont solve your accessing the internet problem in this case but maybe the nexus pod can access the net to get round the issue.

The latest forge release is 2.2.176

[2016-05-25 13:32] rawlingsj commented on #88
Oh and looking forward to the contributions!!

[2016-05-25 13:54] nicolaferraro commented on #88
Sure... I look forward for my contributions too :)

fabric8-forge is at its latest version (2.2.176) and it is using the local nexus as proxy for all maven artifacts (looked into the settings.xml).

Anyway, as you expected, nexus is not able to connect to maven central or fusesource repos...

[2016-05-25 15:14] nicolaferraro commented on #88
I deployed a container with simple OS commands (eg. dig, nslookup and telnet) and found out that the DNS was resolving every name to 127.0.0.1. That's why I got a "connection refused".

I solved by:

[code]

If I don't restart the VM, the DNS inside the containers does not work. After restart, new pods are able to connect.

[2016-05-25 15:14] #88 closed, assigned to nobody

[2016-05-25 15:36] rawlingsj commented on #88
great news!  thanks for the update too.

[2016-06-14 13:28] cmoulliard opened #89 "External DNS resolution doesn't work with Openshift Origin 1.3.1"
Since the upgrade to Openshift Origin 1.3.1, the DNS Servers defined within a docker container are

[code]

and not

[code]

This behaviour could be explained how the dnsIP is defined within the node yaml config file created

With 1.1.6

[code]

and 1.3.1

[code]

[2016-06-14 13:35] cmoulliard commented on #89
The workaround is to edit the node-config.yaml file and to configure the field dnsIP: "172.28.128.4"

[2016-06-14 13:53] cmoulliard commented on #89
Comment of Clayton Colemann

[code]

[2016-06-14 16:15] cmoulliard commented on #89
This change is not required. We should for openshift 1.3.1 keep for the node-config.yaml file the field dnsIP: "" as it is but add to /etc/resolv.conf file of our Vagrant VM Box 8.8.8.8 & 8.8.4.4 as nameservers and  then the docker container can fetch external resources

These nameservers should be added automatically

[2016-06-14 16:15] #89 closed, assigned to nobody

[2016-06-22 13:07] lburgazzoli opened #92 "[vagrant/openshift] s2i failure on fedora"
I found that building images from sources may fail on fedora for external git repositories because of this https://github.com/openshift/origin/issues/8446

Would it be safe to conditionally turn on natdnshostresolver1 according to the platoform ?

[2016-06-22 13:24] jimmidyson commented on #92
Sounds good to me. Thanks!

[2016-06-22 14:50] lburgazzoli commented on #92
PR #93 it works on linux, I do not know if it cause any issue on other OS

[2016-06-24 11:00] jstrachan commented on #92
BTW I've recreated my VM since on OS X and its fine so lets mark this closed. Thanks!

[2016-06-24 11:00] #92 closed, assigned to nobody

[2016-07-04 06:40] davsclaus opened #96 "Upgrade to kubernetes 1.3 GA"

[2016-07-04 07:40] davsclaus opened #97 "Openshift/Vagrant - Saying installing templates from X but installing from Y"
Noticed this little difference

[code]

But the installed version are 2.2.2.13

The other packages further below seems okay and report the same version being downloaded and installed.

[code]

[2016-07-04 08:44] jstrachan commented on #97
I think its mostly just confusing logging TBH; in the old days we had 1 version for everything. That log statement is showing the version used just for the forge release; but not for devops/console/ipaas/kubeflix et al.

Will fix the log statement a bit better...

[2016-07-04 08:54] jstrachan commented on #97
btw notice there are many lines that say `Downloading templates for` - just fixing that comment to show the URL that each download happens from so its a bit more obvious

[2016-07-04 08:55] jstrachan commented on #97
Here's the new output I'm about to commit

[code]

[2016-07-04 11:16] davsclaus commented on #96
]  <+jstrachan> davsclaus I tried it - DNS is borked in our vagrant VM with anything since 1.3.0-beta1

[2016-07-04 11:16] davsclaus commented on #96
So lets wait with the upgrade until the DNS is fixed/working

[2016-07-04 11:18] davsclaus commented on #97
Ah thanks.

So in the first downloads it says version 2.2.211, and then most of the templates are 2.2.213, except for cd-pipeline which is 2.2.211.

[2016-07-04 11:20] jstrachan commented on #97
yeah - the forge apps contain various microservices from devops which have a different version number - to add to the confusion ;)

[2016-07-04 11:25] davsclaus commented on #97
Thanks, we could maybe mention this in the output somewhere, so users knows this can be expected.

(some templates may install different versions than others)

[2016-07-07 13:03] premdass commented on #96
Hi,

I tried F8-vagrant-Kube install process and the it seems to be broken. Can somebpdy confirm whether it is working with Kube 13 (with/withour beta please) ??

[2016-07-25 08:00] lburgazzoli opened #98 "ssh timeout with vagrant 1.8.5"
I've upgraded vagrant to 1.8.5 as it supports VirtualBox 5.1 and I ran into the following issue:

[code]

Then the installation hangs as it is not able to ssh in the box and the issues seems related to vagrant replacing the default insecure ssh key by default so a workaround is to disable key replacement by:

[code]

I will provide a PR if the workaround is acceptable.

[2016-07-25 14:19] #97 closed, assigned to nobody

[2016-08-01 12:21] sbadakhc opened #100 ""allowed_synced_folder_types" in the Vagrant for Openshift prevents the vm from coming up"
I the openshift Vagrant file the following error is reported which prevents the vm from coming up.  Commenting out the offending line works around the issue.

[code]

[2016-08-03 11:51] davsclaus commented on #96
@jimmidyson has upgraded, thanks

[2016-08-03 11:51] #96 closed, assigned to nobody

[2016-08-03 13:09] sbadakhc commented on #100
I just removed the offending line and it works now.

[2016-08-03 13:09] #100 closed, assigned to nobody

[2016-08-07 18:01] jgammon612 opened #102 "Configuring dnsmasq for Rhel7.2"
IS it possible to add instructions for configuring dnsmasq for rhel7.2 as described as a requirement in pre-reqs for the vagrant Fabric8 image?

[2016-08-11 05:04] TrentBartlem commented on #98
Cause is https://github.com/mitchellh/vagrant/issues/7610

[2016-08-12 13:26] ssouris opened #103 "Cannot get vagrant file for kubernetes working on Windows"
Hi,

I am trying to use vagrant to setup a kubernetes cluster and when I do 'vagrant up'
I get the following error.

I am using Windows 8 and Vagrant 1.8.5

`....\fabric8-installer\vagrant\kubernetes>vagrant up
Bringing machine 'default' up with 'virtualbox' provider...
==> default: Box 'centos-7.1' could not be found. Attempting to find and install...
    default: Box Provider: virtualbox
    def

[2016-08-12 14:47] jimmidyson commented on #103
Sorry! I broke it :( Try to pull the latest changes & try again.

[2016-08-12 14:47] #103 closed, assigned to nobody

[2016-08-12 16:08] ssouris commented on #103
Hey cool thanks I kind of figured it out that the image name was wrong.
The thing is though, that vagrant could not ssh to the vm, so I tried using password ssh authentication by adding
`config.ssh.password = "vagrant"`
`config.ssh.paranoid = false`
to the Vagrant script and it worked :p.

But then I had problem with start-kubenertes script.
It needed a `sh /usr/bin/start-kubernetes` at the beginn

[2016-08-12 16:29] jimmidyson commented on #103
IIRC there's a known problem in Vagrant 1.8.5 & the ssh private key it sets. Need to upgrade or downgrade to 1.8.4

[2016-08-12 22:23] ssouris commented on #103
Hi,

indeed I downgraded my Vagrant to 1.8.4 and the ssh key problem went away.
Then I saved the `start-kubernetes`, `restart-kubernete` script with Unix line ending(so that they can work inside centos).
Next in the script `start-kubernetes` the docker parameter
`--volume=/var/lib/kubelet/:/var/lib/kubelet:rw,shared`,
and especially the `shared` part does not parse well.
The centos vm is running d

[2016-09-02 01:02] Host32 opened #105 "Can not create a project, suspected DNS problem"
Good night.

I'm trying to install the vagrant fabric8 image in a Ubuntu server.

Everything occurs fine during installation, but when i tried to create a project, then this error occurs:

[code]

So, i go to the fabric8-fabric pod's terminal and try the following:

[code]

Another tests:

[code]

[code]

The Pod /etc/resolve.conf:

[code]

Someone can help me?

Thanks

[2016-09-02 14:34] jstrachan commented on #105
sounds like landrush isn't working for you in vagrant. What OS are you using?

you could work around it for now adding a jenkins.vagrant.f8 into your /etc/hosts though thats not gonna help the pods being able to access it

[2016-09-02 15:16] Host32 commented on #105
I'm using Ubuntu server 14.04

After change the /etc/hosts of the pod, the ping was ok, but when i try to create a new project again, i got the folowing error:

[code]

I dont know who is 172.30.89.53...

My vagrant ifconfig:

[code]

The host machine ifconfig:

[code]

Sorry for hidden my p4p1 IP, its just for my security.

How to check if landrush is working correctly?

[2016-09-05 19:01] Maxcp opened #106 "invalid value "/var/lib/kubelet/:/var/lib/kubelet:rw,shared" for flag --volume: bad mode specified: rw,shared"
Trying to install fabric8 with Vagrant 1.8.5 on a CentOS machine i got this error after kubectl download. Also I've tried on a Ubuntu16 but received the same error.

==> default: Running Kubernetes version: v1.3.4 with DNS domain: cluster.local and DNS server IP: 10.0.0.10
==> default: invalid value "/var/lib/kubelet/:/var/lib/kubelet:rw,shared" for flag --volume: bad mode specified: rw,shared
==>

[2016-09-09 07:41] jshankarc commented on #106
Even I am facing the same issue while setting up on Windows 10
Please help us resolving this issue!

[2016-09-09 08:26] rawlingsj commented on #106
Is this a custom vagrant + kubernetes setup that you've put together or is this using the fabric8 vagrant image? https://github.com/fabric8io/fabric8-installer/tree/master/vagrant/kubernetes

FWIW we recommend folks use either [minikube](http://fabric8.io/guide/getStarted/minikube.html) or [minishift](http://fabric8.io/guide/getStarted/minishift.html) (the openshift flavour) to easily run a single

[2016-09-09 09:27] jshankarc commented on #106
Using fabric8 vagrant image to install
Facing difficulty in installing minishift on Windows 10 OS

[2016-09-09 14:50] Maxcp commented on #106
rawlingsj this is the default vagrant provisioning that came in the Vagrantfile you mentioned. All I did was add a vm.ssh.insert_key = false and a public_network ip.
I'm trying to create a internal LAN server with fabric8 but I didn't find any documentation about it, so my idea is to deploy it with vagrant and access the vm and use iptable or some other thing to foward the external request, but I'

[2016-09-10 06:10] jstrachan commented on #106
@jshankarrepo gofabric8 & minishift should work on Windows 10 OS. Any chance you could raise an issue for what went wrong for you?

[2016-09-13 11:38] BeerOpsHQ commented on #103
The SSH key prob is because of a missing line in a vagrant script to chmod 0600 /etc/authorized_key from memory. Works fine after that. - https://github.com/mitchellh/vagrant/issues/7667

I've tried exactly your approach about tonight as well...and got the same point.

Looking forward to the next installment of fun n games once someone gets to the bottom of that one :)

[2016-09-13 11:48] jshankarc commented on #106
@jstrachan Thanks for the reply!
Getting below error when trying to execute this command minikube-windows-amd64.exe start --memory=4000
Starting local Kubernetes cluster...
E0913 14:44:06.520184    8832 start.go:87] Error starting host: Error getting state for host: machine does not exist. Retrying.
E0913 14:44:06.632621    8832 start.go:87] Error starting host: Error getting state for host: machi

[2016-09-14 18:02] Host32 commented on #105
Okay, nothing after another tries.

The running vagrant version is 1.7.4.

Checking landrush:

[code]

Connecting with SSH on vagrant machine:

[code]

My resolve.conf:

[code]

After change it:

[code]

Then:

[code]

Its a work around that i will need to do in all services, because everyone has 10.0.2.3 as default nameserver and can not resolve the DNS.

What you guys think about it?

[2016-09-15 08:33] jshankarc commented on #106
@jstrachan Thanks for insisting to use minishift and gofabric8
minishit was heavy on system so choose minikube.

If anyone facing issues in installing minikube and gofabrics on Windows 10, please follow below steps
1. Open command prompt using Administrator
2. download minikube for window (https://github.com/kubernetes/minikube/releases/download/v0.9.0/minikube-windows-amd64.exe) , rename minikube

[2016-09-15 08:49] rawlingsj commented on #106
@jshankarrepo thanks for the steps!  We've started a `gofabric8 install` command which doesn't support windows yet but hopefully using above we can add in real soon.

Ideally where we want to get to for Windows / OSX / Linux is

[code]

The dashboard opens after images have downloded and teh console pod is running.

We're not there yet but thats the aim.  @jshankarrepo when we get close it would b

[2016-09-15 09:14] jshankarc commented on #106
@rawlingsj I will surely do it!

[2016-09-16 05:05] tgieszczyk commented on #1
Hi
I had simililar issue but solved as you mentioned but now I Have other problem trying to install fabric8 on Windows10
when running
vagrant up
I am getting following error
c:\workspaces\fabric8_demo\fabric-installer\fabric8-installer\vagrant\openshift>vagrant up
Bringing machine 'default' up with 'virtualbox' provider...
==> default: Checking if box 'jimmidyson/centos-7.1' is up to date...
==> d

[2016-09-21 11:09] grantpullen opened #109 "fabric8-installer\vagrant\kubernetes vagrant up fails"
Hi there,

I have tried to get the vagrant image working on two Windows 10 machines using the Vagrant 1.8.5 and VirtualBox 5.1, with the vagrant kubernetes image to no avail

It looks like there may be two issues in the vagrant file
1. A possible  issue when starting kubernetes /usr/bin/start-kubernetes
2. An issue with the dl/extraction of gofabric8
[fabric8ins.txt](https://github.com/fabric8io/f

[2016-10-29 16:38] davsclaus commented on #109
I think I heard that some OS3 users with the CDK had issues with Vagrant 1.8.5. But downgrading to 1.8.4 works.

[2016-10-29 16:39] davsclaus commented on #106
I think I heard that some OS3 users with the CDK had issues with Vagrant 1.8.5. But downgrading to 1.8.4 works.

[2016-10-29 16:39] davsclaus commented on #98
I think I heard that some OS3 users with the CDK had issues with Vagrant 1.8.5. But downgrading to 1.8.4 works.

[2016-10-29 16:40] #45 closed, assigned to nobody

[2016-10-29 16:41] davsclaus commented on #29
We dont recommend using vagrant, but to use minikube or minishift instead. We recent added support for persistent volumens to those

[2017-01-03 13:36] lburgazzoli commented on #98
Should have been fixed in latest vagrant releases

[2017-01-03 13:36] #98 closed, assigned to nobody

[2017-07-06 14:24] mohammadsrahman commented on #105
I am having the same issues with my CentOS installation. I have installed openshift on a stand alone CentOS machine and then ran the gofabric8 deploy command. All is well and everything installs. I have sorted the DNS to point to the IP address of the CentOS. But I am getting the same error as above when I want to deploy an application.

My `/etc/hosts` file is as follows:

[code]
My `/etc/resolv.